/* Временные стили добавлять здесь */

.border-addresses {
    width: 453px;
    border: solid 1px;
    border-radius: 8px;
    border-color:rgba(100,104,139,12%)
}

.caption-rg {
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
  }
  
.color-steel-gray-500 {
    color:#64748B
  }

.color-steel-gray-400 {
    color:#94A3B8
  }

.color-steel-gray-900 {
    color:#0F172A
  }